@page
@model IndexModel
@inject Webb_Shop_Weapons.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<style>
    .products{align-items: center; justify-content: center; display: grid; grid-column: 1fr, 1fr, 1fr}
</style>

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<div class="products">
@foreach (var weapon in Model.weapons)
{
    <div class="product">
        <img src="@weapon.WeaponImage" alt="Weapon image" style="width:100%"/>
            <h3>@weapon.WeaponName</h3>
            <p class="price">$@weapon.WeaponPrice</p>
            <p>@weapon.WeaponDescription</p>
            <h5><button>Add to cart</button></h5>
     </div>
}
</div>
