@page
@model IndexModel
@inject Webb_Shop_Weapons.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<style>
    body
    {
        background-color: #0A1119;
        background-image: url("/Pictures/Images/background.jpg");
        background-size: fill;
        background-repeat: no-repeat;
    }
    .productcard
    {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        width: 200px;
        height: 400px;
        background-color: #00000085;
    }
    .products
    {
        display: flex; flex-wrap: wrap; justify-content: center;
    }
    .weaponpic
    {
        width: 70%;
    }
    .banner
    {
        width: 60%; height: 200px; margin: 0 auto; display: block; text-align: center;
    }
</style>

<img src="/Pictures/Images/scumborder.png" class="banner">

<h2>Welcome, @accessControl.LoggedInAccountName!</h2>

<div class="products">
@foreach (var weapon in Model.weapons)
{
    <div class="productcard">
        <h2>@weapon.WeaponName</h2>
        <h3>@weapon.WeaponType</h3>
        <p>@weapon.WeaponPrice$</p>
        <img src="/Pictures/Vapen/Rifle/@weapon.WeaponImage" class="weaponpic"/>
        <h1><button>Add to Cart</button></h1>
    </div>
}
</div>

