@page
@model IndexModel
@inject Webb_Shop_Weapons.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<style>
    body{background-color:black}
    .productcard{border: 1px solid black; padding: 10px; margin: 10px; width: 200px; height: 400px; background-color: white;}
    .products{display: flex; flex-wrap: wrap; justify-content: center;}
    img{width: 70%;}    
</style>

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<div class="products">
@foreach (var weapon in Model.weapons)
{
    <div class="productcard">
        <h2>@weapon.WeaponName</h2>
        <h3>@weapon.WeaponType</h3>
        <p>@weapon.WeaponPrice$</p>
        <img src="/Pictures/Vapen/Rifle/@weapon.WeaponImage" />
        <h1><button>Add to Cart</button></h1>
    </div>
}
</div>

