@font-face {
    font-family: "DamageInc";
    src: url("Fonts/Smalldamade.ttf");
}

body {
    background-color: #0A1119;
    background-image: url("/Pictures/Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.loginbtn, .cart, .selectaccount, .account, .LogIn, .Home, .btn, .productcard, a, .cartbtn {
    font-family: DamageInc;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: none;
    margin: 5px;
}

.selectaccount {
    background-color: #00000085;
}

.account, .loginbtn, .cart {
    cursor: pointer;
}

.cart {
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.LogIn {
    color: white;
    background-color: #00000085;
    padding-left: 5px;
}

.Home {
    background-color: transparent;
    border: none;
    padding-left: 5px;
    cursor: pointer;
}

.Home:active {
    color: black;
}

.btn {
    background-color: #00000085;
    padding: 10px;
    cursor: pointer;
}

.btn:active {
    background-color: #000000;
}

.btnform {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.productcard, a {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: #00000085;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    position: relative;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.cartbtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.cartbtn:active {
    color: black;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    width: 80%;
}

.weaponpic {
    width: 80%;
}

.banner {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
