@font-face {
    font-family: "DamageInc";
    src: url("Fonts/Smalldamade.ttf");
}

.banner {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.weaponpic, .ammopic{
    width: 20%;
}

.AmmoCard h4{
    display: none;
}

.AmmoCard, .WeaponCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    font-family: "DamageInc";
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 50%;
    height: 200px;
    background-color: #00000085;
    border-radius: 10px;
    margin-top: 10px;
}
.description{
    max-width: 40%;
    margin-top: 10%;
}

.WeaponCard{
    width: 80%;
    height: 400px;
}
.AddToCart{
    display: flex;
    margin-left: 70px;
}
.quantity {
    margin-top: 50px;
    font-family: DamageInc;
    font-size: 25px;
    color: white;
    background-color: #00000085;
    border: none;
    width: 50px;
    height:39px;
    
}
.addtocartbtn{
    font-family: DamageInc;
    font-size: 15px;
    color: white;
    background-color: #00000085;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 50px;
    margin-left: 2px;
}
.addtocartbtn:hover{
    background-color: #000000;
}

@media screen and (max-width: 1400px){
    .description{
        max-width: 40%;
        font-size: 10px;
    }
}
@media screen and (max-width: 1131px){
    .weaponpic {
        margin: auto;
    }
    .AddToCart{
        margin: auto;
        margin-top: 10px;

    }
}