@using Webb_Shop_Weapons.Models;
@model IEnumerable<SelectListItem>;
<div class="LogIn">
<form method="post" asp-page="/FakeLogin">
    <label>
            Logged in as:
        <select asp-items="@Model" name="AccountID" class="selectaccount" id="account-id"></select>
    </label>
    <button type="submit" class="loginbtn">Log In</button>
</form>
<a asp-page="/Index" class="Home">
    <i class="fa-solid fa-house" style="color: white;"></i>
</a>
<a asp-page="/ShoppingCart" class="cart">
    <i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i>
</a>
</div>