@using Webb_Shop_Weapons.Models;
@model IEnumerable<SelectListItem>;

<form method="post" asp-page="/FakeLogin" class="LogIn">
    <label>
        Logged in as:
        <select asp-items="@Model" name="AccountID" class="selectaccount" id="account-id"></select>
    </label>
    <button type="submit" class="loginbtn">Log In</button>
    <button type="submit" class="Home"><i class="fa-solid fa-house" style="color: white;"></i></button>
    <button class="cart"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i></button>
</form>